faiss-cpu
fastapi
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai==0.7.0
google-search-results
langchain
langchain-community
langchain-experimental
langchain-google-community
langchain-google-genai
loguru
nltk
pydantic
pypdf
PyPDF2
python-dotenv
python-multipart
rank_bm25
tiktoken
uvicorn